@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {

        font-family:"INTER";
        src:local("INTER"), url("../fonts/Inter-Regular.woff") format("woff");
        font-display: swap;
    };

    @font-face {

        font-family:"INTER Bold";
        src:local("INTER"), url("../fonts/Inter-Bold.woff") format("woff");
        font-display: swap;
    };

    body{
        font-family: INTER !important;
    }

}


@layer components{

    .submenu{
        @apply hidden flex flex-col gap-y-3 pl-7 mt-3;
    }
    .submenu--open{
        @apply  flex;
    }

    .submenu_item--active::after{
        content: "";
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 100px;
        background-color: rgb(202, 97, 232);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;

    }
    .submenu_item--active{
        padding-left: 10px;
        position: relative;
        color: rgb(202, 97, 232);
    }
    .overlay{
        @apply invisible opacity-0 md:hidden fixed inset-0 w-full h-full z-10 bg-black/40 transition-all;
    }
    .overlay--visible{
        @apply visible opacity-100;
    }
    .swiper-button-prev-custom,
    .swiper-button-next-custom{
        @apply flex items-center justify-center w-7 h-7 md:w-8 md:h-8 border-2 border-slate-900 text-black rounded-full;
    }
    .post-img-wrapp::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to bottom, rgba(75, 0, 130, 0.8), transparent); border-radius: 1.5rem; /* معادل rounded-3xl */ z-index: 1; } .post-img-wrapp { position: relative; } .post-img-wrapp img { position: relative; z-index: 0; }

    .btn-gradient-purple { 
        @apply text-sm px-4 py-2 text-white font-bold rounded-full bg-gradient-to-r from-purple-700 to-purple-900;
     }
     .btn-transparent{
        @apply border border-gray-400 rounded-3xl text-gray-300 px-4;
     }
     /* تعریف استایل سفارشی برای discover-more-button */
  .more-info-button {
    @apply flex items-center gap-2 mt-5;
   }
  
  .more-info-button span {
    @apply border-b-2 border-indigo-600;
  }
  
  .more-info-button svg {
    @apply w-3 h-3 md:w-[20px] md:h-[20px] text-indigo-600 font-bold;
  }
  


 /* استایل‌های سفارشی برای دکمه سرویس ها*/
.custom-services-button {
    @apply flex px-4 py-2 md:py-4 items-center justify-between w-full bg-opacity-40 border border-gray-300  text-zinc-900 rounded-full focus:bg-black focus:text-white ;
}
.custom-services-button.active {
    @apply bg-black text-white ;
}
.custom-services-button .number { 
 @apply text-lg font-bold;
 }
.custom-services-button .text {
    @apply text-center;
}
.custom-services-button .arrow {
    @apply text-lg ml-4;
}

/* استایل‌های سفارشی برای بخش محتوا سرویس ها*/
.services .content {
     @apply opacity-0 animate-fadeIn;
}
.services .content .custom-flex-container{
    @apply flex gap-2;
}
.custom-img-container{
    @apply w-[60%] h-[280px] md:h-[410px];
}
.custom-img-container img{
    @apply w-[100%] h-full;
}
.custom-info-container {
    @apply w-[40%] flex flex-col gap-2 md:gap-y-5 relative;
}
.custom-info-container .custom-gradient-box{
    @apply flex flex-col justify-between bg-gradient-to-r text-white text-xs md:text-base from-purple-700 to-purple-900 p-2 rounded-3xl h-[50%];
}
.custom-info-container .custom-dark-box{
    @apply flex flex-col justify-between bg-zinc-900 relative  text-white text-xs md:text-base p-2 rounded-3xl h-[50%];
}
.custom-info-container .custom-button-info{
    @apply rounded-full p-2 z-10;
}
.custom-button-gray {
     @apply bg-gray-600 text-white;
} 
.custom-button-white {
     @apply bg-white text-black;
}
.custom-svg {
     @apply w-3 h-3 md:w-[20px] md:h-[20px];
 }
.custom-box-container {
    @apply absolute bottom-0 -right-[1px] bg-gray-100 w-[45px] md:w-[55px] h-[45px] md:h-[55px] rounded-br-3xl rounded-tl-3xl;
}
.custom-box {
    @apply bg-gray-100 bottom-full right-[1px] size-5 md:size-10 absolute after:bg-zinc-900 after:rounded-br-3xl after:absolute after:top-0 after:left-0 after:size-full;
}
.custom-box-alternate {
    @apply bg-gray-100 bottom-0 right-full size-5 md:size-10 absolute after:bg-zinc-900 after:rounded-br-3xl after:absolute after:top-0 after:left-0 after:size-full;
}


/* زیر صفحات */
/* تعریف استایل‌های سفارشی برای تایتل ها */
  
  .highlight-title span:nth-child(1) {
    @apply text-purple-600 text-2xl md:text-5xl;
  }
  
  .highlight-title span:nth-child(3) {
    @apply text-white text-xl md:text-6xl;
  }
  .item-highlight span:nth-child(1){
    @apply text-black text-xl md:text-3xl;
  }
  .item-highlight span:nth-child(3){
    @apply text-purple-700 text-2xl md:text-4xl font-bold;
  }

/* استایل سفارشی برای نوار اسکرول */
 .scrollbar-custom { scrollbar-width: thin; scrollbar-color: #888 #f1f1f1;} 
 .scrollbar-custom::-webkit-scrollbar { height: 8px;} 
 .scrollbar-custom::-webkit-scrollbar-track 
 
 { background: #f1f1f1; } 
 .scrollbar-custom::-webkit-scrollbar-thumb { background: #888; border-radius: 4px; } 
 .scrollbar-custom::-webkit-scrollbar-thumb:hover { background: #555;  }  
 .scrollbar-padding { padding-bottom: 8px;  } 
 .scroll-container { padding-bottom: 12px; }


 /* portfolio-category */
.portfolio-category .category-buttons{
    @apply flex overflow-x-scroll whitespace-nowrap gap-1 mb-5 scrollbar-custom pb-2;
}
.portfolio-category .category-buttons button{
    @apply text-gray-600 px-2.5 sm:px-4 md:px-4 py-2 sm:py-1.5 md:py-2 text-xs sm:text-sm md:text-base rounded-full border border-gray-700;
}
.portfolio-category .category-buttons button.active{
   @apply text-white bg-black;
}

 .grid-container {
    @apply flex flex-wrap gap-3 justify-center;
}
.grid-item { @apply w-[calc(50%-4px)] mb-2.5 box-border; }

.grid-item img{
    @apply w-full h-auto;
}


@keyframes scatterUp { 
    from { opacity: 0; transform: translateY(100px) scale(0.5); }
     to { opacity: 1; transform: translateY(0) scale(1); }
     }
 .img-cover { 
    animation: scatterUp 1s ease-in-out forwards;
 }

 
}

@tailwind base;
@tailwind components;
@tailwind utilities;