{% load static %}

    <!-- svg icons -->
    <svg class="hidden">
        <symbol id="bars-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </symbol>

        <symbol id="user" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </symbol>

        <symbol id="x-mark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M6 18 18 6M6 6l12 12" />
        </symbol>

        <symbol id="arrow-left" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
        </symbol>

        <symbol id="home" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </symbol>

        <symbol id="service" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 17.25v-.228a4.5 4.5 0 0 0-.12-1.03l-2.268-9.64a3.375 3.375 0 0 0-3.285-2.602H7.923a3.375 3.375 0 0 0-3.285 2.602l-2.268 9.64a4.5 4.5 0 0 0-.12 1.03v.228m19.5 0a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3m19.5 0a3 3 0 0 0-3-3H5.25a3 3 0 0 0-3 3m16.5 0h.008v.008h-.008v-.008Zm-3 0h.008v.008h-.008v-.008Z" />
        </symbol>

        <symbol id="about" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </symbol>

        <symbol id="team" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
        </symbol>

        <symbol id="blog" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
        </symbol>

        <symbol id="chevron-down" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </symbol>

        <symbol id="contact" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
        </symbol>

        <symbol id="chevron-left" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </symbol>

        <symbol id="chevron-right"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </symbol>

        <symbol id="arrow-up-right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
        </symbol>

        <svg id="chevron-up" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>


        <!-- the end svg icons  -->
    </svg>
   <!-- header desktop -->
   <header class="container h-24 hidden md:flex items-center justify-between p-4">
   <a href="{% url 'public:home' %}">
        <div class="max-w-40">
            <img src="{% static 'public/images/boostilo-logo.png' %}" alt="لوگو بوستیلو">
        </div>
   </a>
    <nav>
        <ul class="flex gap-x-9 text-l text-slate-600">
            <li class="{% if request.resolver_match.url_name == 'home' %}text-violet-900{% endif %}">
                <a href="{% url 'public:home' %}">Home</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'service' %}text-violet-900{% endif %} relative submenu-open-btn">
                <div class="flex items-center justify-between">
                    <a href="{% url 'service:service' %}" class="flex items-center gap-x-2">
                        Services
                    </a>
                    <span class="submenu-toggle-icons">
                        <svg class="w-4 h-5 open-icon">
                            <use xlink:href="#chevron-down"></use>
                        </svg>
                        <svg class="w-4 h-5 close-icon hidden">
                            <use xlink:href="#chevron-up"></use>
                        </svg>
                    </span>
                </div>
                <ul class="absolute cursor-pointer gap-y-3 w-52 bg-white border border-gray-200 rounded-md shadow-lg z-20 submenu p-4">
                    <li>
                        <a href="{% url 'service:web' %}">Web Development</a>
                    </li>
                    <li>
                        <a href="{% url 'service:application' %}">Application</a>
                    </li>
                    <li>
                        <a href="{% url 'service:seo' %}">SEO</a>
                    </li>
                    <li>
                        <a href="{% url 'service:content' %}">Content Creation</a>
                    </li>
                    <li>
                        <a href="{% url 'service:marketing' %}">Digital Marketing</a>
                    </li>
                </ul>
            </li>
            <li class="{% if request.resolver_match.url_name == 'about' %}text-violet-900{% endif %}">
                <a href="{% url 'public:about' %}">About US</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'blog' %}text-violet-900{% endif %}">
                <a href="{% url 'public:blog' %}">Blog</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'contactuss' %}text-violet-900{% endif %}">
                <a href="{% url 'public:contactuss' %}">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
   <!--  header desktop -->
   <!-- header mobile -->
   <div class=" flex md:hidden justify-between items-center bg-white px-4 h-16">
    <div class="nav-icon">
        <svg class="w-6 h-6">
            <use xlink:href="#bars-3"></use>
        </svg>
    </div>
    <a href="{% url 'public:home' %}">
        <div class="max-w-40">
            <img src="{% static 'public/images/boostilo-logo.png' %}" alt="لوگو بوستیلو">
        </div>
    </a>

    <div class=" nav fixed top-0 -left-64 bottom-0 bg-neutral-900  w-64 min-h-screen pt-3 px-4 z-20 transition-all overflow-y-auto">
        <div class="flex items-center justify-between gap-x-3.5 mb-6 pb-5  border-b border-b-white/20">

            <a href="{% url 'public:home' %}">
                <div class="max-w-40">
                    <img src="{% static 'public/images/navbar-logo.png' %}" alt="لوگو بوستیلو">
                </div>
            </a>

            <div class="inline-flex items-center nav-close-btn">
                <svg class="w-6 h-6 text-white">
                    <use xlink:href="#x-mark"></use>
                </svg>
            </div>

        </div>

        <nav>
            <ul class="text-white pl-4 space-y-6 text-sm">
                <li class="flex items-center {% if request.resolver_match.url_name == 'home' %}bg-purple-600 text-white{% endif %} pr-0 mb-4 h-10 pl-1 rounded-md">
                    <a href="{% url 'public:home' %}" class="flex items-center gap-x-2">
                        <svg class="w-6 h-6">
                            <use xlink:href="#home"></use>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="flex items-center {% if request.resolver_match.url_name == 'service' %}bg-purple-600 text-white{% endif %} pr-0 mb-4 h-10 pl-1 rounded-md submenu-open-btn">
                    <div class="flex items-center justify-between w-full">
                        <a href="{% url 'service:service' %}" class="flex items-center gap-x-2 w-full">
                            <svg class="w-6 h-6">
                                <use xlink:href="#service"></use>
                            </svg>
                            Service
                        </a>
                        <span>
                            <svg class="w-6 h-6">
                                <use xlink:href="#chevron-down"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="submenu ">
                        <a href="{% url 'service:web' %}">Web Development</a>
                        <a href="{% url 'service:application' %}">Application</a>
                        <a href="{% url 'service:seo' %}">SEO</a>
                        <a href="{% url 'service:content' %}">Content Creation</a>
                        <a href="{% url 'service:marketing' %}">Digital Marketing</a>
                    </div>
                </li>
                <li class="flex items-center {% if request.resolver_match.url_name == 'about' %}bg-purple-600 text-white{% endif %} pr-0 mb-4 h-10 pl-1 rounded-md">
                    <a href="{% url 'public:about' %}" class="flex items-center gap-x-2">
                        <svg class="w-6 h-6">
                            <use xlink:href="#about"></use>
                        </svg>
                        About US
                    </a>
                </li>
                <li class="flex items-center {% if request.resolver_match.url_name == 'blog' %}bg-purple-600 text-white{% endif %} pr-0 mb-4 h-10 pl-1 rounded-md">
                    <a href="{% url 'public:blog' %}" class="flex items-center gap-x-2">
                        <svg class="w-6 h-6">
                            <use xlink:href="#blog"></use>
                        </svg>
                       Blog
                    </a>
                </li>
                <li class="flex items-center {% if request.resolver_match.url_name == 'contactuss' %}bg-purple-600 text-white{% endif %} pr-0 mb-4 h-10 pl-1 rounded-md">
                    <a href="{% url 'public:contactuss' %}" class="flex items-center gap-x-2">
                        <svg class="w-6 h-6">
                            <use xlink:href="#contact"></use>
                        </svg>
                       Contact US
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
   <!-- header mobile -->

