{% load static %}

    <section class="services mt-5">
        <div class="container lg:px-8">
            <div class="flex flex-col md:flex-row gap-4 bg-gray-100 rounded-md px-2 py-3 md:px-9 md:py-5">
                <div class=" w-full md:w-2/5 space-y-[15px] mt-5 ">
                    <button class="btn custom-services-button group active" data-content="content1"  >
                        <div class="flex items-center gap-3">
                            <span class="number group-focus:text-purple-500">01</span>
                            <span class="text">Digital Markting</span>
                        </div>
                        <span class="arrow">&#8594;</span>
                    </button>
                    <button class="btn custom-services-button group" data-content="content2">
                        <div class="flex items-center gap-3">
                            <span class="number group-focus:text-purple-500">02</span>
                            <span class="text">Web Development</span>
                        </div>
                        <span class="arrow">&#8594;</span>
                    </button>
                    <button class="btn custom-services-button group" data-content="content3">
                        <div class="flex items-center gap-3">
                            <span class="number group-focus:text-purple-500">03</span>
                            <span class="text">SEO</span>
                        </div>
                        <span class="arrow">&#8594;</span>
                    </button>
                    <button class="btn custom-services-button group" data-content="content4">
                        <div class="flex items-center gap-3">
                            <span class="number group-focus:text-purple-500">04</span>
                            <span class="text">Social Media Marketing </span>
                        </div>
                        <span class="arrow">&#8594;</span>
                    </button>
                    <button class="btn custom-services-button group" data-content="content5">
                        <div class="flex items-center gap-3">
                            <span class="number group-focus:text-purple-500">05</span>
                            <span class="text">Content Creation</span>
                        </div>
                        <span class="arrow">&#8594;</span>
                    </button>
                </div>
                <div class=" w-full md:w-3/5">
                    <div id="content1" class="content">
                        <div class="custom-flex-container">
                            <div class=" custom-img-container">
                                <img src="{{ digital_marketing.image.url }}" alt="Digital Marketing" >
                            </div>
                            <div class=" custom-info-container">
                                <div class="custom-gradient-box">
                                    <p>{{ digital_marketing.description_about }}</p>
                                    <div class="flex justify-between items-center font-bold">
                                        <span>about<br>
                                         {{ digital_marketing.name }}</span>
                                        <div class="custom-button-info custom-button-white">
                                            <a href="{% url 'service:marketing' %}">
                                                <svg class="custom-svg">
                                                    <use xlink:href="#arrow-up-right"></use>
                                                </Svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-dark-box ">
                                    <p>{{ digital_marketing.description_product }}</p>
                                    <div class="flex justify-between items-end font-bold">
                                        <span>see<br>
                                         portfolio {{ digital_marketing.name }}</span>
                                        <div class="custom-button-info custom-button-gray">
                                            <svg class="custom-svg">
                                                <use xlink:href="#arrow-up-right"></use>
                                            </Svg>
                                        </div>
                                    </div>
                                    <div class="custom-box-container">
                                        <span class="custom-box"></span>
                                        <span class="custom-box-alternate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="content2" class="content hidden">
                        <div class="custom-flex-container">
                            <div class=" custom-img-container">
                                <img src="{{ web_dev.image.url }}" alt="Web Development" >
                            </div>
                            <div class=" custom-info-container">
                                <div class="custom-gradient-box">
                                    <p>{{ web_dev.description_about }}</p>
                                    <div class="flex justify-between items-center font-bold">
                                        <span>about<br>
                                         {{ web_dev.name }}</span>
                                        <div class="custom-button-info custom-button-white">
                                            <a href="{% url 'service:web' %}">
                                                <svg class="custom-svg">
                                                    <use xlink:href="#arrow-up-right"></use>
                                                </Svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-dark-box ">
                                    <p>{{ web_dev.description_product }}</p>
                                    <div class="flex justify-between items-end font-bold">
                                        <span>see<br>
                                         portfolio {{ web_dev.name }}</span>
                                        <div class="custom-button-info custom-button-gray">
                                            <svg class="custom-svg">
                                                <use xlink:href="#arrow-up-right"></use>
                                            </Svg>
                                        </div>
                                    </div>
                                    <div class="custom-box-container">
                                        <span class="custom-box"></span>
                                        <span class="custom-box-alternate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="content3" class="content hidden">
                        <div class="custom-flex-container">
                            <div class=" custom-img-container">
                                <img src="{{ seo.image.url }}" alt="SEO" >
                            </div>
                            <div class=" custom-info-container">
                                <div class="custom-gradient-box">
                                    <p>{{ seo.description_about }}</p>
                                    <div class="flex justify-between items-center font-bold">
                                        <span>about<br>
                                         {{ seo.name }}</span>
                                        <div class="custom-button-info custom-button-white">
                                            <a href="{% url 'service:seo' %}">
                                                <svg class="custom-svg">
                                                    <use xlink:href="#arrow-up-right"></use>
                                                </Svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-dark-box ">
                                    <p>{{ seo.description_product }}</p>
                                    <div class="flex justify-between items-end font-bold">
                                        <span>see<br>
                                         portfolio {{ seo.name }}</span>
                                        <div class="custom-button-info custom-button-gray">
                                            <svg class="custom-svg">
                                                <use xlink:href="#arrow-up-right"></use>
                                            </Svg>
                                        </div>
                                    </div>
                                    <div class="custom-box-container">
                                        <span class="custom-box"></span>
                                        <span class="custom-box-alternate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="content4" class="content hidden">
                        <div class="custom-flex-container">
                            <div class=" custom-img-container">
                                <img src="{{ social_media.image.url }}" alt="Social Media Marketing" >
                            </div>
                            <div class=" custom-info-container">
                                <div class="custom-gradient-box">
                                    <p>{{ social_media.description_about }}</p>
                                    <div class="flex justify-between items-center font-bold">
                                        <span>about<br>
                                         {{ social_media.name }}</span>
                                        <div class="custom-button-info custom-button-white">
                                            <a href="{% url 'service:application' %}">
                                                <svg class="custom-svg">
                                                    <use xlink:href="#arrow-up-right"></use>
                                                </Svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-dark-box ">
                                    <p>{{ social_media.description_product }}</p>
                                    <div class="flex justify-between items-end font-bold">
                                        <span>see<br>
                                         portfolio {{ social_media.name }}</span>
                                        <div class="custom-button-info custom-button-gray">
                                            <svg class="custom-svg">
                                                <use xlink:href="#arrow-up-right"></use>
                                            </Svg>
                                        </div>
                                    </div>
                                    <div class="custom-box-container">
                                        <span class="custom-box"></span>
                                        <span class="custom-box-alternate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="content5" class="content hidden">
                        <div class="custom-flex-container">
                            <div class=" custom-img-container">
                                <img src="{{ content_create.image.url }}" alt="Create Condition" >
                            </div>
                            <div class=" custom-info-container">
                                <div class="custom-gradient-box">
                                    <p>{{ content_create.description_about }}</p>
                                    <div class="flex justify-between items-center font-bold">
                                        <span>about<br>
                                         {{ content_create.name }}</span>
                                        <div class="custom-button-info custom-button-white">
                                            <svg class="custom-svg">
                                                <use xlink:href="#arrow-up-right"></use>
                                            </Svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-dark-box ">
                                    <p>{{ content_create.description_product }}</p>
                                    <div class="flex justify-between items-end font-bold">
                                        <span>see<br>
                                         portfolio {{ content_create.name }}</span>
                                        <div class="custom-button-info custom-button-gray">
                                            <svg class="custom-svg">
                                                <use xlink:href="#arrow-up-right"></use>
                                            </Svg>
                                        </div>
                                    </div>
                                    <div class="custom-box-container">
                                        <span class="custom-box"></span>
                                        <span class="custom-box-alternate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
