{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'public/styles/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/styles/app.css' %}">

</head>

<body>


{% block body %}{% endblock %}

{% include "base/footers.html" %}

  <script src="{% static 'public/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'public/js/scripts.js' %}"></script>
  <script src="{% static 'public/js/sliders.js' %}"></script>
  <script src="{% static 'public/js/application.js' %}"></script>
<!-- Masonry library -->
  <script src="{% static 'public/js/masonry.pkgd.min.js' %}"></script>
<!-- image library -->
  <script src="{% static 'public/js/imageloaded.js' %}"></script>

<!-- signup and in  -->
  <script src="{% static 'public/js/signupin.js' %}"></script>

</body>
</html>