{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} Application {% endblock %}

{% block body %}

   {% include 'base/headers_service.html' %}

   <main>
       <section class="service-description">
        <div class="container bg-backservices bg-cover h-auto md:h-[450px] rounded-bl-2xl rounded-br-2xl px-10 py-10 md:py-0  flex items-end ">
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 p-3">
                   <div class="highlight-title">
                    <span>Boostilo</span><br />
                    <span>Application</span>
                   </div>
                   <p class="text-white text-sm md:text-lg mt-5">
                    Looking to create a professional, high-quality app?
                    Boosilo is your ultimate partner for turning your vision into reality.
                    Your store will be just a click from your customers.
                   </p>
                   <div class="flex gap-2 mt-5 ">
                    <button class="btn-gradient-purple">
                        <a href="{% url 'service:service_portfolios' service_name=social_media.name %}">
                            see portfolio
                        </a>
                    </button>
                    <button class="btn-transparent">
                        <a href="#">
                           contact us
                        </a>
                    </button>
                   </div>
                </div>
                <div class="w-full md:w-1/2 flex items-end">
                   <img src="{% static 'public/images/عکس سئو.webp' %}" alt="" class=" w-full md:w-4/5">
                </div>
            </div>
        </div>
       </section>


       <section class="service-item">
        <div class="container p-2 md:px-10">
            <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center">
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight">
                        <span>Design</span><br>
                        <span>Application</span>
                    </div>
                    <p class="mt-5">Looking to create a professional, high-quality app? Boosilo is your ultimate partner for turning your vision into reality.</p>
                    <p class="mt-2">With Boostilo, you'll get easy access inside your custom app: fast loading, easy installation to homescreen and autonomy from stores. Plus, stay connected and keep your content fresh with the push notifications and automatic updates, while maintaining a professional and high-quality experience.</p>
                </div>
                <div class="w-full md:w-2/5 p-4">
                    <img src="{% static 'public/images/app-designing.webp' %}" alt="">
                </div>
            </div>
        </div>
       </section>

       <section class="service-item individual-item">
        <div class="container p-2 md:px-10">
            <div class="flex  flex-wrap">
                <div class="w-full md:w-2/5 p-4">
                    <img src="{% static 'public/images/ChatRoomAppDesign.webp' %}" alt="">
                </div>
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight">
                        <span>crafting , sucsess digital</span><br>
                        <span>Boostilo</span>
                    </div>
                    <p class="mt-5">Never out of reach with Boostilo! Our apps run completely optimized offline so that your users will never be disturbed in their experience, whatever the circumstances. Moreover, they run flawlessly on all devices: from mobile and tablet to desktop. With Boostilo, you are always one step ahead.</p>
                    <p class="mt-2">Get in touch with us today and lead the way with Boostilo!</p>
                </div>
            </div>
        </div>
       </section>

       {% include 'base/mainservice.html' %}

       {% include 'base/contactus.html' %}

       {% include 'base/categories_service.html' %}

       {% include 'base/products_in_category.html' %}

   </main>


<!-- overlay for menu bobile -->
<div class="overlay"></div>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.btn-category').forEach(function (el) {
        el.addEventListener('click', function () {
            hideAllCategoryContainer()
            let category_id = this.getAttribute('category-id')
            document.querySelector(`#category-${category_id}`).style.display = 'block'
        })
    })

    function hideAllCategoryContainer() {
        document.querySelectorAll('.category-container').forEach(function (el) {
            el.style.display = 'none'
        })
    }

    function activeFirstCategory() {
        document.querySelector('.btn-category').click()
    }

    hideAllCategoryContainer()
    activeFirstCategory()

</script>
{% endblock %}