{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} Content Creation {% endblock %}
    <style>
     @media only screen and (max-width: 600px) {
        canvas {
            width: 100% !important;
            height: auto !important;
        }
    }</style>
{% block body %}

   {% include 'base/headers_service.html' %}

        <main>
        <section class="service-description">
            <div class="container bg-backservices flex justify-end bg-cover h-auto md:h-[450px] rounded-bl-2xl rounded-br-2xl pl-5 pr-0 md:py-0 ">
                <div class="flex flex-wrap justify-center">
                    <div class="w-full md:w-1/2 p-3 flex justify-center flex-col">
                       <div class="highlight-title">
                        <span>Boostilo</span><br />
                        <span>Content Creation</span>
                       </div>
                       <p class="text-white text-sm md:text-lg mt-5">
                        Get a free content plan and personalized scenario tailored just for you— review it before making any commitment and move ahead with confidence!
                       </p>
                       <div class="flex gap-2 mt-5 ">
                        <button class="btn-gradient-purple">
                            <a href="{% url 'service:service_portfolios' service_name=content_create.name %}">
                                See the Portfolio
                            </a>
                        </button>
                        <button class="btn-transparent">
                            <a href="https://boostilo.ca/service/content/#contactus">
                               Contact Us
                            </a>
                        </button>
                       </div>
                    </div>
                    <div class="w-full md:w-1/2 flex items-end justify-center md:justify-start">
                       <img src="{% static 'public/images/contentcreation-landing.webp' %}" alt="" class="w-[70%] md:w-[100%]">
                    </div>
                </div>
            </div>
        </section>

        <section class="content-marketing-cycl p-2 ">
            <div class="container p-2 md:p-4 bg-home-desktop bg-cover bg-no-repeat bg-center">
                <div class="mx-0 md:mx-10 lg:mx-72">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </section>

        <section class="advantage mt-5">
            <div class="container">
                <div class="flex items-center justify-center space-x-1 p-5">
                    <span class="w-2.5 h-2.5 rounded-full bg-purple-500"></span>
                    <p class="text-base md:text-2xl text-black">ADVANTAGE</p>
                  </div>
                <div class="flex flex-wrap justify-center mt-3">
                  <div class="w-1/2 md:w-1/2 lg:w-1/4  flex items-center mb-4 p-2">
                     <img src="{% static 'public/images/svg/advantage4.svg' %}" alt="" class="px-2 w-10 md:w-14">
                     <div>
                       <h2 class="text-sm md:text-xl font-bold">Increase sales</h2>
                       <p class="text-xs md:text-base text-zinc-900">and revenue</p>
                     </div>
                  </div>
                  <div class="w-1/2 md:w-1/2 lg:w-1/4  flex items-center mb-4 p-2">
                    <img src="{% static 'public/images/svg/advantage3.svg' %}" alt="" class="px-2 w-10 md:w-14">
                    <div>
                      <h2 class="text-sm md:text-xl font-bold">Building credibility</h2>
                      <p class="text-xs md:text-base text-zinc-900">and trust</p>
                    </div>
                 </div>
                 <div class="w-1/2 md:w-1/2 lg:w-1/4 flex items-center mb-4 p-2">
                    <img src="{% static 'public/images/svg/advantage2.svg' %}" alt="" class="px-2 w-10 md:w-14">
                    <div>
                      <h2 class="text-sm md:text-xl font-bold">Attracting and</h2>
                      <p class="text-xs md:text-base text-zinc-900">retaining audiences</p>
                    </div>
                 </div>
                 <div class="w-1/2 md:w-1/2 lg:w-1/4  flex items-center mb-4 p-2">
                    <img src="{% static 'public/images/svg/advantage4.svg' %}" alt="" class="px-2 w-10 md:w-14">
                    <div>
                      <h2 class="text-sm md:text-xl font-bold">Increased visibility</h2>
                      <p class="text-xs md:text-base text-zinc-900">in search engines</p>
                    </div>
                 </div>
                  
                </div>
            </div>
        </section>

        {% include 'base/mainservice.html' %}

        {% include 'base/contactus.html' %}

        {% include 'base/products_in_category.html' %}


       <section class="service-item" id="research">
        <div class="container p-2 md:px-10">
            <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center">
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight-landing">
                        <span>research and planning</span><br>
                        <span>The Foundations of Content</span>
                    </div>
                    <div class="mt-2 text-sm md:text-base ">
                    <p>
                        Just as a sturdy structure relies on strong foundations, successful content creation is built on precise data and thoughtful analysis. At Boostilo, we lay these foundations by diving deep into the behavior and personas of your target audience. By understanding their needs, interests, and challenges, we craft content that not only resonates but leaves a lasting impression.
                    </p>
                    <p class="mt-5">
                        In the dynamic Canadian market, differentiation is key. That’s why our team conducts detailed competitor analysis and uncovers unique opportunities to position your brand creatively and effectively. Every insight we uncover becomes another building block in crafting your content strategy!
                    </p>
                     <p class="mt-5 font-bold">
                        let’s craft a strategy that stands out. Contact us today!
                    </p>
                 </div>
                </div>
                <div class="w-full md:w-2/5  flex justify-center items-center">
                    <img src="{% static 'public/images/research-and-planning.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                </div>
            </div>
        </div>
       </section>

        <section class="service-item individual-item" id="smart-ideation">
        <div class="container p-2 md:px-10">
            <div class="flex  flex-wrap" id="socialmedia-add">
                <div class="w-full md:w-2/5 flex justify-center items-center">
                    <img src="{% static 'public/images/smartIdeation.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                </div>
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight-landing">
                        <span>Smart Ideation</span><br>
                        <span>creating your brands story</span>
                    </div>
                    <div class="mt-2 text-sm md:text-base ">
                    <p>
                      Every brand has a unique story worth telling—one that stands out, inspires, and leaves a lasting impression. Our process begins with a deep dive into your audience personas, your brand identity, and your competitive landscape to create a content strategy that aligns every activity with your goals for maximum impact. From there, we turn strategy into action with developing a detailed content plan, managing every detail, from content calendars and topic selection to publishing schedules
                    </p>
                    <p class="mt-5">
                     Finally, we let creativity take center stage, crafting story-driven content that captivates and inspires your audience. Whether you’re engaging Canada’s diverse communities or reaching beyond borders, we deliver tailored solutions that amplify your message and set your brand apart.  
                    </p>
                    <p class="mt-5 font-bold">
                        Every great brand has a story—let Boostilo craft yours!
                    </p>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="service-item" id="content-creation">
        <div class="container p-2 md:px-10">
            <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center" id="google-add">
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight-landing">
                        <span>Content Creation</span><br>
                        <span>From Vision to Reality</span>
                    </div>
                    <div class="mt-2 text-sm md:text-base ">
                    <p>
                        At Boostilo, we bring your brand’s story to life with care and creativity, crafting content that leaves a meaningful and lasting impression. Our skilled writers and scriptwriters weave compelling stories that captivate and inspire, simultaneously our expert graphic designers and video editors transform concepts into stunning visuals using tools like Photoshop, Figma, Illustrator, and Premiere Pro. Every element of our work is guided by thoughtful data analysis, ensuring your brand’s message is not only beautiful but also strategically aligned to achieve maximum impact. Along the way, you’ll have the opportunity to preview our work — empowering you to make a confident, informed decision to take the next step and turn your vision into reality.
                    </p>
                    <p class="mt-5 font-bold">
                      Experience the power of compelling storytelling—connect with Boostilo today!
                    </p>
                 </div>
                </div>
                <div class="w-full md:w-2/5 p-4 flex justify-center items-center">
                    <img src="{% static 'public/images/content-creation.webp' %}" alt=""  class="w-[50%] md:w-[70%]">
                </div>
            </div>
        </div>
        </section>

        <section class="service-item individual-item" id="publishing">
        <div class="container p-2 md:px-10">
            <div class="flex  flex-wrap" id="socialmedia-add">
                <div class="w-full md:w-2/5 flex justify-center items-center">
                    <img src="{% static 'public/images/Publishing.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                </div>
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight-landing">
                        <span>Publishing</span><br>
                        <span> Right Message at the Right Time</span>
                    </div>
                    <div class="mt-2 text-sm md:text-base ">
                    <p>
                      At Boostilo, we believe great content deserves to be seen, heard, and acted upon. That’s why we merge our deep understanding of platform algorithms—like Instagram—with smart, data-driven strategies to amplify your message’s impact. Through detailed analysis of user behavior, trend tracking, and identifying the perfect posting times, we ensure your content hits its mark at precisely the right moment. From blogs to social media and email campaigns, every message is strategically delivered to inspire action and achieve measurable results.  
                    </p>
                    <p class="mt-5 font-bold">
                        Strategically deliver your brand’s message—partner with Boostilo today!
                    </p>
                    </div>
                </div>
            </div>
        </div>
        </section>

    <section class="service-item" id="branding">
        <div class="container p-2 md:px-10">
            <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center" id="google-add">
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight-landing">
                        <span>Branding and Marketing</span><br>
                        <span>Where Content Shapes Your Identity</span>
                    </div>
                    <div class="mt-2 text-sm md:text-base ">
                    <p>
                        In this phase, your brand's story evolves from a concept into a compelling identity. At the heart of our approach is a commitment to clearly communicating your brand’s core values, message, and personality to establish a powerful presence and forge authentic connections with your audience. From creating key messages that highlight your brand’s essence to developing impactful marketing initiatives, our goal is to ensure your brand resonates deeply and leaves a memorable impression.
                    </p>
                    <p class="mt-5 font bold">
                        start your journey with Boostilo today!
                    </p>
                 </div>
                </div>
                <div class="w-full md:w-2/5 p-4 flex justify-center items-center">
                    <img src="{% static 'public/images/marketing.webp' %}" alt=""  class="w-[50%] md:w-[70%]">
                </div>
            </div>
        </div>
    </section>

    </main>


<!-- overlay for menu bobile -->
<div class="overlay"></div>

{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.btn-category').forEach(function (el) {
        el.addEventListener('click', function () {
            hideAllCategoryContainer()
            let category_id = this.getAttribute('category-id')
            document.querySelector(`#category-${category_id}`).style.display = 'block'
        })
    })

    function hideAllCategoryContainer() {
        document.querySelectorAll('.category-container').forEach(function (el) {
            el.style.display = 'none'
        })
    }

    function activeFirstCategory() {
        document.querySelector('.btn-category').click()
    }

    hideAllCategoryContainer()
    activeFirstCategory()

</script>
{% endblock %}