{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} Content Creation {% endblock %}
    <style>
     @media only screen and (max-width: 600px) {
        canvas {
            width: 100% !important;
            height: auto !important;
        }
    }</style>
{% block body %}

   {% include 'base/headers_service.html' %}

        <main>
        <section class="service-description">
            <div class="container bg-backservices bg-cover h-auto md:h-[450px] rounded-bl-2xl rounded-br-2xl px-10 py-10 md:py-0  flex items-end ">
                <div class="flex flex-wrap justify-center">
                    <div class="w-full md:w-1/2 p-3">
                       <div class="highlight-title">
                        <span>Boostilo</span><br />
                        <span>Content Creation</span>
                       </div>
                       <p class="text-white text-sm md:text-lg mt-5">adipisicing elit. Expedita pariaturLorem ipsum dolor sit amet consectetur adipisicing elit. Expedita pariatur deleniti aut dolor quos porro, doloremque, aperiam, aliquam dicta repellendus ipsam similique omnis! Doloribus ratione, mollitia illo tempora quibusdam maiores!</p>
                       <div class="flex gap-2 mt-5 ">
                        <button class="btn-gradient-purple">
                            <a href="{% url 'service:service_portfolios' service_name=content_create.name %}">
                                see portfolio
                            </a>
                        </button>
                        <button class="btn-transparent">
                            <a href="#">
                               contact us
                            </a>
                        </button>
                       </div>
                    </div>
                    <div class="w-full md:w-1/2 flex items-end">
                       <img src="{% static 'public/images/content-creation.png' %}" alt="" class=" w-full md:w-4/5">
                    </div>
                </div>
            </div>
        </section>

        <section class="content-marketing-cycl p-2 ">
            <div class="container p-2 md:p-4 bg-home-desktop bg-cover bg-no-repeat bg-center">
                <div class="mx-0 md:mx-10 lg:mx-72">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </section>

        {% include 'base/mainservice.html' %}

        {% include 'base/products_in_category.html' %}

        <section class="advantage mt-10">
            <div class="container">
                <div class="flex items-center justify-center space-x-2 p-10">
                    <span class="w-2.5 h-2.5 rounded-full bg-purple-500"></span>
                    <p class="text-sm md:text-2xl text-black">ADVANTAGE</p>
                  </div>
                <div class="flex flex-wrap justify-center mt-5">
                  <div class="w-full sm:w-1/2 lg:w-1/4 p-4  flex items-center mb-4">
                     <img src="{% static 'public/images/svg/advantage1.svg' %}" alt="" class="px-2">
                     <div class="pl-2">
                       <h2 class="text-base md:text-xl font-bold">increase sales</h2>
                       <p class="text-zinc-900">and revenu</p>
                     </div>
                  </div>
                  <div class="w-full sm:w-1/2 lg:w-1/4 p-4  flex items-center mb-4">
                    <img src="{% static 'public/images/svg/advantage2.svg' %}" alt="" class="px-2">
                    <div class="pl-2">
                      <h2 class="text-base md:text-xl font-bold">increase sales</h2>
                      <p class="text-zinc-900">and revenu</p>
                    </div>
                 </div>
                 <div class="w-full sm:w-1/2 lg:w-1/4 p-4  flex items-center mb-4">
                    <img src="{% static 'public/images/svg/advantage3.svg' %}" alt="" class="px-2">
                    <div class="pl-2">
                      <h2 class="text-base md:text-xl font-bold">increase sales</h2>
                      <p class="text-zinc-900">and revenu</p>
                    </div>
                 </div>
                 <div class="w-full sm:w-1/2 lg:w-1/4 p-4  flex items-center mb-4">
                    <img src="{% static 'public/images/svg/advantage4.svg' %}" alt="" class="px-2">
                    <div class="pl-2">
                      <h2 class="text-base md:text-xl font-bold">increase sales</h2>
                      <p class="text-zinc-900">and revenu</p>
                    </div>
                 </div>

                </div>
            </div>
        </section>

       {% include 'base/contactus.html' %}

       {% include 'base/categories_service.html' %}
        
    </main>


<!-- overlay for menu bobile -->
<div class="overlay"></div>

{% endblock %}