{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} Portfolio Boostilo {% endblock %}

{% block body %}

   {% include 'base/headers.html' %}

    <section class="portfolioboostilo mt-10">
        <div class="container">
            <div class="flex overflow-x-auto whitespace-nowrap gap-1 mb-5 scrollbar-custom pb-2 md:overflow-visible md:flex-wrap">
              <button class="btn-portfolio text-gray-600 px-2.5 sm:px-4 md:px-4 py-2 sm:py-1.5 md:py-2 text-xs sm:text-sm md:text-base rounded-full border border-gray-700 active" data-category="all">all</button>
                {% for service in services %}
                <button class="btn-portfolio text-gray-600 px-2.5 sm:px-4 md:px-4 py-2 sm:py-1.5 md:py-2 text-xs sm:text-sm md:text-base rounded-full border border-gray-700" data-category="{{ service.id }}">
                    {{ service.name }}
                </button>
                {% endfor %}
            </div>
            <div class="Portfolio-category-img mt-5">
                <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 gap-4 p-5">
                        {% for product in products %}
                        <div class="relative sample hidden h-[250px] md:h-[300px] lg:h-[320px]" data-category="{{ product.service.id }}">
                            <a href="{% url 'service:portfolio' product.pk %}">
                                <div class="rounded-3xl post-img-wrapp h-full ">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="rounded-3xl w-full h-full ">
                                </div>
                            </a>
                            <div class="text-white  py-3  text-xs md:text-base absolute top-0 left-2 z-20">
                               <span>{{ product.created_at.year }}</span><br>
                               <span>{{ product.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                 </div>
            </div>
        </div>
    </section>


{% endblock %}