{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} Seo {% endblock %}

{% block body %}

   {% include 'base/headers_service.html' %}
    <main>
        <section class="service-description">
            <div class="container bg-backservices flex justify-end bg-cover h-auto md:h-[450px] rounded-bl-2xl rounded-br-2xl pl-5 pr-0 md:py-0">
                <div class="flex flex-wrap justify-center">
                    <div class="w-full md:w-1/2 p-3 flex justify-center flex-col">
                       <div class="highlight-title">
                        <span>Boostilo</span><br />
                        <span>SEO</span>
                       </div>
                       <p class="text-white text-sm md:text-lg mt-5">
                        At Boostilo, our SEO services help you get found, stand out, and stay on top. We turn keywords into the key to your growth!
                      </p>
                       <div class="flex gap-2 mt-5 ">
                        <button class="btn-gradient-purple">
                            <a href="{% url 'service:service_portfolios' service_name=seo.name %}">
                               See the Portfolio
                            </a>
                        </button>
                        <button class="btn-transparent">
                            <a href="https://boostilo.ca/service/seo/#contactus">
                               Contact Us
                            </a>
                        </button>
                       </div>
                    </div>
                    <div class="w-full md:w-1/2 flex items-end justify-end md:justify-start">
                       <img src="{% static 'public/images/seo-landing.webp' %}" alt="" class="w-[70%] md:w-[100%]">
                    </div>
                </div>
            </div>
        </section>

        <section class="service-item individual-item">
            <div class="container p-2 md:px-10">
                <div class="flex  flex-wrap">
                    <div class=" w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/seo-optomization.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span>SEO:</span><br>
                            <span>The Key to Success in Every Industry</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p class="mt-5">In today’s competitive digital landscape, SEO is the cornerstone of success for any industry. Whether you aim to dominate local search or broaden your reach on a global scale, SEO lays the groundwork for sustainable, measurable growth.</p>
                        <p class="text-black font-bold pt-5">Let Boostilo pave the way to your growth and lasting success!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-item">
            <div class="container p-2 md:px-10">
                <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center">
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span> Professional SEO Strategies:</span><br>
                            <span>Boost Your Traffic</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p class="text-black font-bold pt-5">Imagine a large store on the busiest street in your city, yet hidden among the crowd, unnoticed by passersby.</p>
                        <p class="mt-5"> This is exactly what happens to your website without SEO. In the digital world, website traffic is the lifeblood of every successful business.  With expert SEO strategies, you can enhance your website’s ranking in search results and attract a more targeted, high-converting audience.</p>
                        </div>
                    </div>
                    <div class="w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/professional-seo.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                </div>
            </div>
        </section>

        <section class="service-item individual-item">
            <div class="container p-2 md:px-10">
                <div class="flex  flex-wrap">
                    <div class="w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/google-seo.webp' %}" alt=""  class="w-[50%] md:w-[70%]">
                    </div>
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span></span><br>
                            <span>The First Step in Your Website's SEO Strategy!</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p class="mt-5">At Boostilo, our goal goes beyond driving traffic. Through keyword analysis, content optimization, and technical improvements, we create an optimized experience for both users and search engines, transforming traffic into meaningful engagement and converting interactions into real results—like increased sales and brand growth.</p>
                        <p class="text-black font-bold pt-5">With smart SEO strategies, make your website the go-to destination for your audience!</p>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="presales-process mt-5">
            
            <div class="container">
                <h2 class="text-lg md:text-xl text-black font-bold text-center ">Pre-sales Process</h2>
                <div class=" mt-5 flex justify-center items-center flex-col">
                    <div class="w-[90%] md:w-[75%] ">
                        <img src="{% static 'public/images/presales-process-desktop.webp' %}" alt="" class="hidden md:block">
                        <img src="{% static 'public/images/presales-process-mobile.webp' %}" alt="" class="block md:hidden">
                    </div>
                </div>
            </div>
        </section>

        {% include 'base/mainservice.html' %}
        {% include 'base/contactus.html' %}
        {% include 'base/products_in_category.html' %}

        <section class="services bg-gray-100 p-2 mt-10">
            <div class="container">
                <h2 class="text-3xl text-black font-bold text-center mt-5 ">SEO site services in Vancouver</h2>
                <div class="flex flex-wrap">
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px]  p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo8.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Keyword Research</h3>
                              <p class="text-gray-600 text-xs md:text-sm">keyword Reaserch and analysis</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo7.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Effective Content Creation</h3>
                              <p class="text-gray-600 text-xs md:text-sm">targeted Content Aligned with strategy</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo6.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Competitor Analysis</h3>
                              <p class="text-gray-600 text-xs md:text-sm">analysis of your business Competitors</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo5.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">SEO Consultation</h3>
                              <p class="text-gray-600 text-xs md:text-sm">seo Consultation in Vancouver</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo1.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Search Console Monitoring</h3>
                              <p class="text-gray-600 text-xs md:text-sm">Rank Tracking and issue Resolution </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo2.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Monthly Reporting</h3>
                              <p class="text-gray-600 text-xs md:text-sm">Detailed Project Progress Reports</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo3.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Professional Technical SEO</h3>
                              <p class="text-gray-600 text-xs md:text-sm">Specialized Technical Optimization</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 md:w-1/2 lg:w-1/4  p-2 md:p-5">
                        <div class="bg-white rounded-[45px] h-[150px] md:h-[200px] p-3 md:p-5 shadow-lg">
                            <div class="flex justify-end">
                                <img src="{% static 'public/images/svg/servicesseo4.svg' %}" alt="Icon 8" class="w-10 h-10 md:w-16 md:h-16">
                            </div>
                            <div class="">
                              <h3 class="text-purple-700 text-base md:text-lg font-bold">Link Building</h3>
                              <p class="text-gray-600 text-xs md:text-sm">strategic Internal and External Link Building</p>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>
       
        <section class="service-item individual-item">
            <div class="container p-2 md:px-10">
                <div class="flex  flex-wrap">
                    <div class=" w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/local-seo.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span>Local SEO Services in Vancouver:</span><br>
                            <span>Why Local Businesses Should Trust Us?</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <div>
                            <h3 class="font-bold">Deep Understanding of Vancouver’s Market:</h3>  
                            <p>By delving into Vancouver’s unique culture, customer behavior, and distinctive needs, we create strategies that help your business rank higher.</p>
                        </div>
                        <div class="mt-5">
                            <h3 class="font-bold">Expertise in Digital Marketing:</h3>
                            <p>With advanced tools and cutting-edge strategies in SEO, content marketing, and advertising, we empower your business to outperform competitors and dominate search results.</p>
                        </div>
                        <div class="mt-5">
                            <h3 class="font-bold">Results-Driven Focus:</h3>
                            <p>Our mission is clear: to deliver tangible outcomes. Whether it’s increasing sales, driving more website traffic, or attracting the right customers, we ensure sustainable growth that translates into lasting business success.</p> 
                        </div>
                        <div class="mt-5">
                            <h3 class="font-bold">Tailored Solutions:</h3>
                            <p>Every business is unique, which is why we design customized SEO strategies focused on improving your website’s local search rankings with specialized techniques.</p>
                        </div>
                        <div class="mt-5">
                            <h3 class="font-bold">Transparency and Commitment:</h3>
                            <p>We value your trust. That’s why we maintain open communication and provide detailed reports to keep you informed every step of the way, ensuring you’re always confident in your progress and results.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="service-item">
            <div class="container p-2 md:px-10">
                <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center">
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span>SEO with Boostilo:</span><br>
                            <span> Free SEO Analysis Before You Commit</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p>
                            At Boostilo, transparency and value are at the heart of what we do. That’s why we offer a completely free SEO analysis before you commit. This evaluation examines your website’s performance, keyword rankings, and identifies key opportunities to optimize your site and boost traffic.
                        </p>
                        <p class="mt-5">
                            Why is this analysis so valuable? By uncovering your website’s strengths and weaknesses, this analysis empowers you to make informed decisions. Whether targeting the Canadian market or expanding globally, it provides actionable insights to guide your strategy for long-term success.
                        </p>
                        <p class="mt-5">
                            Our goal is simple:
                            to build trust and provide clarity, equipping you with the tools to make the best decisions for your business.
                        </p>
                        <p class="mt-5 font-bold">
                            Take the first step toward digital growth—request your free SEO analysis today!
                        </p>
                        </div>
                    </div>
                    <div class="w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/seo-with-boostilo.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                </div>
            </div>
        </section>

        
        <section class="Consultation-with-us mt-20">
            <div class="container">
                <div class="bg-backcontact bg-no-repeat bg-cover bg-left py-3 px-5 rounded-3xl md:rounded-full">
                    <div class="flex flex-wrap justify-center items-center mx-5 md:mx-20 ">
                        <div class="w-full mt-[-15%] md:w-[40%]">
                            <img src="{% static 'public/images/تماس با ما تصویر 2.webp' %}" alt="" >
                        </div>
                        <div class="w-full md:w-[20%]">
                            <div class="text-white text-base md:text-xl"> contact-us</div>
                            <div class="list-icon">
                                <div class="flex space-x-2 p-2">
                                    <img src="{% static 'public/images/svg/شماره.svg' %}" alt="">
                                    <span class="text-sm text-white"><a href="tel:+1 778-700-5651">+1 778-700-5651</a></span>
                                </div>
                                <div class="flex items-center space-x-2 p-2">
                                    <img src="{% static 'public/images/svg/اینستاگرام.svg' %}" alt="">
                                    <span class="text-sm text-white"><a href="https://instagram.com/Boostilo.ca">Boostilo.ca</a></span>
                                </div>
                                <div class="flex items-center space-x-2 p-2">
                                    <img src="{% static 'public/images/svg/ایمیل.svg' %}" alt="">
                                    <span class="text-sm text-white"><a href="mailto:info@boostilo.ca">info@Boostilo.ca</a></span>
                                </div>
                             </div>
                        </div>

                        <div class="w-full md:w-[40%]">
                            {% if messages %}
                                <div class="space-y-4">
                                    {% for message in messages %}
                                        <div class="rounded bg-green-500 text-white px-4 py-2">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form class="space-y-4"  method="post" action="{% url 'public:contactus_seo' %}#anotherform" id="anotherform">
                                {% csrf_token %}
                                <div>
                                  <input type="text" id="input1" name="fullname" placeholder="Full name..." class="mt-1 block w-full px-3 py-3 focus:outline-none rounded-full placeholder-white bg-[#9482ad] text-white sm:text-sm">
                                </div>
                              
                                <div>
                                  <input type="email" id="input2" name="email" placeholder="Email..." class="mt-1 block w-full px-3 py-3 focus:outline-none rounded-full placeholder-white bg-[#9482ad]  sm:text-sm text-white">
                                </div>
                              
                                <div>
                                  <button type="submit" class="w-full inline-flex items-center px-4 py-3 rounded-full text-white  bg-violet-700 focus:outline-none">
                                    Submit
                                  </button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-item individual-item">
            <div class="container p-2 md:px-10">
                <div class="flex  flex-wrap">
                    <div class=" w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/google-matters.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span>Why Google Matters:</span><br>
                            <span>How much do people use Google?</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p>
                            With over 8.5 billion daily searches, Google is the world’s most powerful search engine, driving over 90% of online experiences. Yet, 75% of users never scroll past the first page of the results. 
                        </p>
                        <p class="mt-5">
                            Google’s sophisticated algorithms evaluate a variety of factors to decide which websites deserve top rankings, including; content quality, site speed, keywords, and user experience to determine which websites rank highest.
                            This is where SEO plays a crucial role it connects your business with your potential customers by improving your website’s search engine ranking. 
                        </p>
                        <p class="mt-5 font-bold">
                            Start shining on the world’s largest search engine with Boostilo today!
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-item">
            <div class="container p-2 md:px-10">
                <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center">
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span>SEO:</span><br>
                            <span> In Simple Terms </span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p>
                            Search Engine Optimization (SEO) is the key to helping your website rank higher in search results on Google and other search engines. When users search for terms related to your business, SEO ensures your site appears higher on the results page, attracting more visitors.
                        </p>
                        <div class="mt-5">
                           <h3 class="font-bold">How Does SEO Work?</h3>
                           <span class="font-bold">Keywords:</span>
                           <p> Identifying the phrases your potential customers are searching for.</p>
                           <span class="font-bold">Technical Optimization:</span> 
                           <p>Enhancing site speed, structure, and accessibility for both users and search engines.</p>
                           <span class="font-bold">Engaging and Valuable Content:</span>
                           <p>Creating content that addresses user needs and motivates action.</p> 
                           <p>SEO acts as a guiding light, directing customers straight to your website.</p>
                        </div>
                        <p class="mt-5 font-bold">
                            With SEO, elevate your ranking and drive your business toward success!
                        </p>
                        </div>
                    </div>
                    <div class="w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/seosearch.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                </div>
            </div>
        </section>

        <section class="service-item individual-item">
            <div class="container p-2 md:px-10">
                <div class="flex  flex-wrap">
                    <div class=" w-full md:w-2/5 flex justify-center items-center">
                        <img src="{% static 'public/images/website-without-seo.webp' %}" alt="" class="w-[50%] md:w-[70%]">
                    </div>
                    <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                        <div class="item-highlight-landing">
                            <span> Website Without SEO:</span><br>
                            <span> Website Without SEO Drive Sales?</span>
                        </div>
                        <div class="mt-2 text-sm md:text-base ">
                        <p>
                            SEO builds the foundation for sustainable organic traffic, while Google Ads offers a fast and efficient way to generate immediate results. With the Pay-Per-Click (PPC) model, Google Ads places your business at the top of search results, ensuring cost efficiency by charging only when users click on your ad.
                        </p>
                        <p class="mt-5">
                            However, Google Ads alone has its drawbacks—high costs, constant management, and its short-term nature mean it cannot replace the enduring benefits of SEO.The smartest approach combines the strengths of both: leveraging SEO for long-term growth while using Google Ads to deliver instant visibility.
                        </p>
                        <p class="mt-5">
                            No matter your strategy—SEO, Google Ads, or a tailored blend—<span class="font-bold">Boostilo is your trusted partner in driving business success!</span>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Consultation-with-us mt-5">
            <div class="container">
                <div class="flex flex-wrap justify-center">
                    <div class=" w-full md:w-2/5 p-8 ">
                        <div class="bg-[#130a1f] rounded-md py-2 px-10 ">
                            <div class=" w-full text-white text-end ">
                                <h3 class="text-2xl">contact us</h3>
                                <p class="text-xs">for get price or a free meeting</p>
                             </div>
                             <div class="w-full flex justify-center">
                                <img src="{% static 'public/images/svg/آیکون تماس.svg' %}" alt="" class="w-20">
                                <img src="{% static 'public/images/svg/icon-contact-us.svg' %}" alt="" class="w-20">
                             </div>
                             <div class="list-icon">
                                <div class="flex space-x-2 p-2">
                                    <img src="{% static 'public/images/svg/شماره.svg' %}" alt="">
                                    <span class="text-sm text-white"><a href="tel:+1 778-700-5651">+1 778-700-5651</a></span>
                                </div>
                                <div class="flex items-center space-x-2 p-2">
                                    <img src="{% static 'public/images/svg/اینستاگرام.svg' %}" alt="">
                                    <span class="text-sm text-white"><a href="https://instagram.com/Boostilo.ca">Boostilo.ca</a></span>
                                </div>
                                <div class="flex items-center space-x-2 p-2">
                                    <img src="{% static 'public/images/svg/ایمیل.svg' %}" alt="">
                                    <span class="text-sm text-white"><a href="mailto:info@boostilo.ca">info@Boostilo.ca</a></span>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class=" w-full md:w-2/5 p-8">
                        <div class="text-justify">
                            <p>Dear valued customers,To connect with Boostilo SEO, Vancouver, just call the provided contact number below. Our team of SEO specialists in Vancouver can't wait for your call and are ready for your service.</p>
                            <p>Or send in your SEO requirement emails, which, after deliberation, might provide the most appropriate Boostilo SEO service suited to your demands.</p>
                            <p>For any further information required, please browse through Boostilo's Instagram, find the highlight "SEO in Canada," which will give clear details about every service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<!-- overlay for menu bobile -->
<div class="overlay"></div>

{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.btn-category').forEach(function (el) {
        el.addEventListener('click', function () {
            hideAllCategoryContainer()
            let category_id = this.getAttribute('category-id')
            document.querySelector(`#category-${category_id}`).style.display = 'block'
        })
    })

    function hideAllCategoryContainer() {
        document.querySelectorAll('.category-container').forEach(function (el) {
            el.style.display = 'none'
        })
    }

    function activeFirstCategory() {
        document.querySelector('.btn-category').click()
    }

    hideAllCategoryContainer()
    activeFirstCategory()

</script>
{% endblock %}