{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} {{ portfolio.name }} {% endblock %}

{% block body %}

   {% include 'base/headers.html' %}
    <main>
        <section class="p-3 mt-5">

            <div class="container">
            <div>
                <img src="{{ portfolio.image.url }}" alt="">
            </div>
            <div class="mt-2 text-sm md:text-base mt-5 ">
                {{ portfolio.description|safe }}
            </div>
        </div>
        </section>
    </main>

<!-- overlay for menu bobile -->
<div class="overlay"></div>
{% endblock %}
