{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} Web Design {% endblock %}

{% block body %}

   {% include 'base/headers_service.html' %}
   <main>
       <section class="service-description">
        <div class="container bg-backservices flex justify-end bg-cover h-auto md:h-[450px] rounded-bl-2xl rounded-br-2xl pl-5 pr-0 md:py-0 ">
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 p-3 flex justify-center flex-col">
                   <div class="highlight-title">
                    <span>Boostilo</span><br />
                    <span>Web Design</span>
                   </div>
                   <p class="text-white text-sm md:text-lg mt-5">Still unsure about your website? Review your personalized mockup first, then decide with confidence! </p>
                   <div class="flex gap-2 mt-5 ">
                    <button class="btn-gradient-purple">
                        <a href="{% url 'service:service_portfolios' service_name=web_dev.name %}">
                            see portfolio
                        </a>
                    </button>
                    <button class="btn-transparent">
                        <a href="https://boostilo.ca/service/web/#contactus">
                           contact us
                        </a>
                    </button>
                   </div>
                </div>
                <div class="w-full md:w-1/2 flex items-end justify-center md:justify-start">
                   <img src="{% static 'public/images/site-landing.webp' %}" alt="" class="w-[70%] md:w-[100%]">
                </div>
            </div>
        </div>
       </section>

       <section class="service-item">
        <div class="container p-2 md:px-10">
            <div class="flex flex-col-reverse md:flex-row flex-wrap items-center justify-center">
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="item-highlight">
                        <span>Development</span><br>
                        <span>web</span>
                    </div>
                    <div class="mt-2 text-sm md:text-base ">
                    <p class="mt-5">
                       Ready to push your business into another league with a class-leading website?
                    </p>
                    <p class="mt-2">
                     At Boostilo, we don't just build websites; we create unique, high-security, search engine-optimized, and fast-loading ones using cutting-edge technologies. Your site will load instantly, stay secure, and deliver an enjoyable browsing experience. Our responsive designs ensure it adapts perfectly across all devices—desktop, tablet, and mobile. With intuitive content management platforms, we fine-tune every detail to capture more traffic and provide a smooth user experience.
                    </p>
                 </div>
                </div>
                <div class="w-full md:w-2/5 p-4 flex justify-center items-center">
                    <img src="{% static 'public/images/web-designing.webp' %}" alt=""  class="w-[50%] md:w-[70%]">
                </div>
            </div>
        </div>
       </section>

       <section class="service-item individual-item">
        <div class="container p-2 md:px-10">
            <div class="flex  flex-wrap">
                <div class="w-full md:w-2/5 p-4 flex justify-center items-center">
                    <img src="{% static 'public/images/web-design-company.webp' %}" alt=""  class="w-[50%] md:w-[70%]">
                </div>
                <div class="w-full md:w-3/5 p-4 flex justify-center flex-col">
                    <div class="mt-2 text-sm md:text-base ">
                    <p class="mt-5">From simple to complex, Boostilo does not limit the services it offers ! We go all the way and beyond with a strong Sales Map, where each stage of the customer journey is tailor-made to suit your clients' needs and ensure maximum conversion. Plus, before making any commitment, you'll get a free, custom-designed, personalized preview to make sure we meet your exact needs.</p>
                    <p class="mt-2">
                     Try Boostilo today and enjoy your free preview to see what's possible. You deserve a choice you can trust!
                    </p>
                </div>
                </div>
            </div>
        </div>
       </section>

       {% include 'base/mainservice.html' %}

       {% include 'base/contactus.html' %}

       {% include 'base/products_in_category.html' %}

       {% include 'base/categories_service.html' %}
   </main>



<!-- overlay for menu bobile -->
<div class="overlay"></div>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.btn-category').forEach(function (el) {
        el.addEventListener('click', function () {
            hideAllCategoryContainer()
            let category_id = this.getAttribute('category-id')
            document.querySelector(`#category-${category_id}`).style.display = 'block'
        })
    })

    function hideAllCategoryContainer() {
        document.querySelectorAll('.category-container').forEach(function (el) {
            el.style.display = 'none'
        })
    }

    function activeFirstCategory() {
        document.querySelector('.btn-category').click()
    }

    hideAllCategoryContainer()
    activeFirstCategory()

</script>
{% endblock %}