{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} {{ news.title }} {% endblock %}

{% block body %}

   {% include 'base/headers.html' %}

   <main>

  <section class="description">
      <div class="container mx-auto p-4">
        <div class="flex flex-col items-center p-2">
          <h1 class="text-xl md:text-4xl font-bold mb-2 md:mb-4">About Boostilo</h1>
          <p class="text-sm md:text-base text-center text-justify">At Boostilo, our mission is to provide innovative digital solutions that solve real challenges, helping you reach your limitless goals and digital dreams. Our vision is to become the top e-business company, driven by the values listed below, and to <span class="font-bold">craft your success, digitally!</span></p>
        </div>
      </div>
  </section>      

  <div class="bg-white p-8 container">
      <!-- باکس ها -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
          <div class="flex flex-col items-center sm:flex-row p-4 md:p-6 bg-[#f6f3fa] rounded-lg">
            <div class="w-10 sm:w-20 mb-4 sm:mb-0">
              <img src="{% static 'public/images/High Quality.webp' %}" alt="" class="w-full">
            </div>
            <div class="sm:ml-4 text-center sm:text-left">
              <h3 class="text-xl font-semibold">High Quality</h3>
              <p class="text-sm text-justify">With cutting-edge technology, we guarantee flawless quality and results beyond your expectations</p>
            </div>
          </div>
          <div class="flex flex-col items-center sm:flex-row p-4 md:p-6 bg-[#f6f3fa] rounded-lg">
              <div class="w-10 sm:w-20 mb-4 sm:mb-0">
                <img src="{% static 'public/images/Experienced Team.webp' %}" alt="" class="w-full">
              </div>
              <div class="sm:ml-4 text-center sm:text-left">
                <h3 class="text-xl font-semibold">Experienced Team</h3>
                <p class="text-sm text-justify">Our skilled and seasoned team is ready to expertly guide your business toward success with ease.</p>
              </div>
          </div>
          <div class="flex flex-col items-center sm:flex-row p-4 md:p-6 bg-[#f6f3fa] rounded-lg">
              <div class="w-10 sm:w-20 mb-4 sm:mb-0">
                <img src="{% static 'public/images/All-in-one Digital Solution.webp' %}" alt="" class="w-full">
              </div>
              <div class="sm:ml-4 text-center sm:text-left">
                <h3 class="text-xl font-semibold">All-in-one Digital Solution</h3>
                <p class="text-sm text-justify">From strategy to execution and support, we handle every step to ensure your business thrives effortlessly</p>
              </div>
          </div>
          <div class="flex flex-col items-center sm:flex-row p-4 md:p-6 bg-[#f6f3fa] rounded-lg">
              <div class="w-10 sm:w-20 mb-4 sm:mb-0">
                <img src="{% static 'public/images/Affordability.webp' %}" alt="" class="w-full">
              </div>
              <div class="sm:ml-4 text-center sm:text-left">
                <h3 class="text-xl font-semibold">Affordability</h3>
                <p class="text-sm text-justify">Get more for less! Experience outstanding outcomes at unbeatable value with our cost-effective services.</p>
              </div>
          </div>
      </div>
  </div>

  <section class="boostilo-about mt-5">
          <div class="container">
              <div class="flex flex-wrap">
                  <div class="w-full md:w-1/2 p-4 flex flex-col items-center md:items-baseline md:justify-around ">
                      <h1 class="text-xl md:text-2xl	xl:text-4xl font-bold mt-2 text-center md:text-start  ">
                          About Us
                      </h1>
                      <p class=" text-sm md:text-base text-zinc-800 mt-2 text-center md:text-start ">
                          In today’s digital landscape, success demands more than quick fixes or surface-level solutions—it requires vision, strategy, and a deeper understanding of what truly drives growth.
                      At Boostilo, we don’t just address the challenges your business encounters in the digital realm—we uncover the untapped opportunities hidden within them, unlocking pathways to your true potential.
                       With a thoughtful and strategic approach, we immerse ourselves in your vision, crafting bespoke solutions that resonate with your audience and elevate your brand. The result is more than just measurable success; it’s a lasting impact that transforms challenges into opportunities and connections into meaningful engagement.
                      </p>
                  </div>
                  <div class="w-full md:w-1/2 p-4">
                      <img src="{% static 'public/images/videoboostilo.webp' %}" alt="">
                  </div>
              </div>
          </div>
  </section>

  <div class="bg-black text-white p-8">
          <div class="container">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                  <!-- قسمت چپ -->
                  <div>
                    <h2 class="text-2xl font-bold">Our Story</h2>
                    <p>At Boostilo, we adapt our strategies to stay ahead, building specialized teams in app development, Instagram management, and SEO. The COVID-19 pandemic highlighted the global shift to digital marketing, leading us to focus on international projects, especially in the Canadian market. With our deep understanding of Canada’s business landscape and years of expertise, we’re committed to helping your business thrive—because your success is our success.</p>
                  </div>
              
                  <!-- قسمت راست -->
                  <div class="space-y-8">
                    <!-- بخش اول -->
                    <div>
                      <div class="flex items-center">
                        <span class="w-3 h-3 bg-purple-600 rounded-full inline-block mr-2"></span>
                        <h3 class="text-xl font-semibold">2010</h3>
                      </div>
                      <p class="text-sm mt-2">Starting Freelancing Activities</p>
                      <hr class="bg-white mt-4">
                    </div>
              
                    <!-- بخش دوم -->
                    <div>
                      <div class="flex items-center">
                        <span class="w-3 h-3 bg-purple-600 rounded-full inline-block mr-2"></span>
                        <h3 class="text-xl font-semibold">2020</h3>
                      </div>
                      <p class="text-sm mt-2">Expansion of Our Services in the Application Field</p>
                      <hr class="bg-white mt-4">
                    </div>
              
                    <!-- بخش سوم -->
                    <div>
                      <div class="flex items-center">
                        <span class="w-3 h-3 bg-purple-600 rounded-full inline-block mr-2"></span>
                        <h3 class="text-xl font-semibold">2022</h3>
                      </div>
                      <p class="text-sm mt-2">Expanding Our Target Market to a Global Scale</p>
                      <hr class="bg-white mt-4">
                    </div>
                  </div>
                </div>
          </div>
  </div>
        
  <section class="boostilo-team mt-4 py-10">
          <div class="container">
              <div class="flex flex-wrap">
                  <div class="w-full md:w-1/2 p-3">
                      <div class="swiper team">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="box-team ">
                                      <img src="{% static 'public/images/arezoozarkesh.webp' %}" alt="" class="rounded-lg">
                                      <div class="flex justify-center items-center flex-col">
                                          <div class="text-center text-xs md:text-sm font-bold">Arezoo</div>
                                          <div class="text-center text-xs md:text-xs font-bold text-violet-950"> Graphic Designer </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="box-team ">
                                      <img src="{% static 'public/images/faezehporhasani.webp' %}" alt="" class="rounded-lg">
                                      <div class="flex justify-center items-center flex-col">
                                          <div class="text-center text-xs md:text-sm font-bold">Faezeh Porhasani</div>
                                          <div class="text-center text-xs md:text-xs font-bold text-violet-950">Web Developer</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="box-team ">
                                      <img src="{% static 'public/images/amirabbasmehdizadeh.webp' %}" alt="" class="rounded-lg">
                                      <div class="flex justify-center items-center flex-col text-xs md:text-sm font-bold">
                                          <div class="text-center text-xs md:text-sm font-bold">Amir Abbas Mehdizadeh</div>
                                          <div class="text-center text-xs md:text-xs font-bold text-violet-950">Editor</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="box-team ">
                                      <img src="{% static 'public/images/zahrabahadori.webp' %}" alt="" class="rounded-lg">
                                      <div class="flex justify-center items-center flex-col text-xs md:text-sm font-bold">
                                          <div class="text-center text-xs md:text-sm font-bold">Zahra Bahadori</div>
                                          <div class="text-center text-xs md:text-xs font-bold text-violet-950">Social Media Manager</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="box-team ">
                                      <img src="{% static 'public/images/arezoozarkesh.webp' %}" alt="" class="rounded-lg">
                                      <div class="flex justify-center items-center flex-col">
                                          <div class="text-center text-xs md:text-sm font-bold">Arezoo</div>
                                          <div class="text-center text-xs md:text-xs font-bold text-violet-950"> Graphic Designer </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                              <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                           <!-- If we need navigation buttons -->
                          <div class="swiper-button-prev"></div>
                          <div class="swiper-button-next"></div>
                      </div>
                  </div>
                  <div class="w-full md:w-1/2 p-3">
                      <h1 class="text-xl md:text-2xl	xl:text-4xl font-bold mt-2 ">
                          Meet Our Team
                      </h1>
                      <p class=" text-sm md:text-xl text-zinc-700  mt-3">
                          Meet our versatile digital experts passionately committed to crafting your digital success!
                      </p>
                  </div>
              </div>
          </div>
  </section>


    {% include 'base/contactus.html' %}

   </main>

<div class="overlay"></div>
<!-- overlay for menu bobile -->

{% endblock %}