{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} {{ article.title }} {% endblock %}

{% block body %}

   {% include 'base/headers.html' %}

  <section class="p-3 mt-5">
    <div class="container">
        <div class="article-header">
            <img src="{{ article.images.url }}">
            <h1>{{ article.title }}</h1>
        </div>
        <br>
       <div class="mt-2 text-sm md:text-base mt-5 ">
        <div class="ckeditor-content">
            {{ article.content|safe }}
        </div>
       </div>
   </div>
   </section>

<!-- overlay for menu bobile -->
<div class="overlay"></div>
{% endblock %}