{% extends "base/main_layout.html" %}
{% load static %}


{% block title %} {{ article.title }} {% endblock %}

{% block body %}

   {% include 'base/headers.html' %}

<section class="article-detail">
    <div class="container">
        <div class="article-header">
            <h1>{{ article.title }}</h1>
            <span>{{ article.created_at|date:"d F, Y" }}</span>
        </div>
        <div class="article-content">
            {{ article.content|safe }}
        </div>
    </div>
</section>

<!-- overlay for menu bobile -->
<div class="overlay"></div>
{% endblock %}