{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'public/styles/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/styles/app.css' %}">

</head>

<body>
{% include "public/headers.html" %}

{% block body %}{% endblock %}

{% include "public/footers.html" %}

 <script src="{% static 'public/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'public/js/scripts.js' %}"></script>
  <script src="{% static 'public/js/sliders.js' %}"></script>

</body>
</html>