<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seo</title>
    <link rel="stylesheet" href="./styles/app.css">
    <link rel="stylesheet" href="./styles/swiper-bundle.min.css">
</head>
<body>

   <!-- header desktop -->
   <header class="container h-24 hidden md:flex items-center justify-between  bg-black p-4">
    <div class="max-w-40">
        <img src="./images/logo-navbar.png" alt="لوگو بوستیلو">
    </div>
    <nav>
        <ul class="flex gap-x-9 text-l text-white">
            <li class="text-violet-900">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">services</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#">team</a>
            </li>
            <li>
                <a href="#">blog</a>
            </li>
        </ul>
    </nav>

    <div>
        <a href="#" class="flex justify-center items-center">
            <svg class="w-6 h-6 border-2 border-stone-200 rounded-xl p-0.5  text-white">
                <use xlink:href="#user"></use>
            </svg>
          <span class="bg-zinc-50 text-zinc-950 rounded-2xl text-sm px-2.5 py-1.5">sign up / Login</span>
        </a>
    </div>
   </header>
<!--  header desktop -->
<!-- header mobile -->
  <div class=" flex md:hidden justify-between items-center bg-white px-4 h-16">
<div class="nav-icon">
    <svg class="w-6 h-6">
        <use xlink:href="#bars-3"></use>
    </svg>
</div>

<div class="max-w-40">
    <img src="./images/logo.png" alt="لوگو بوستیلو">
</div>

<div class=" nav fixed top-0 -left-64 bottom-0 bg-neutral-900  w-64 min-h-screen pt-3 px-4 z-20 transition-all overflow-y-auto">
    <div class="flex items-center justify-between gap-x-3.5 mb-6 pb-5  border-b border-b-white/20">

        <div class="max-w-40">
            <img src="./images/logo-navbar.png" alt="لوگو بوستیلو">
        </div>

        <div class="inline-flex items-center nav-close-btn">
            <svg class="w-6 h-6 text-white">
                <use xlink:href="#x-mark"></use>
            </svg>
        </div> 

    </div>

    <nav>
        <ul class="text-white child: pl-4 space-y-6 text-sm">
            <li class="flex items-center bg-purple-600 text-white pr-0 mb-4 h-10 pl-1 rounded-md">
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-6 h-6">
                        <use xlink:href="#home"></use>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center justify-between">
                    <a href="#" class="flex items-center gap-x-2">
                        <svg class="w-6 h-6">
                            <use xlink:href="#service"></use>
                        </svg>
                        Service
                    </a>
                    <span class="submenu-open-btn">
                        <svg class="w-6 h-6">
                            <use xlink:href="#chevron-down"></use>
                        </svg>
                    </span>
                </div>
                <div class="submenu ">
                    <a href="#">Special coffee</a>
                    <a href="#" class="submenu_item--active">First class coffee</a>
                    <a href="#">Special</a>
                    <a href="#">Special coffee</a>
                    <a href="#">First class coffee</a>
                    <a href="#">Special coffee</a>
                </div>
            </li>
            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-6 h-6">
                        <use xlink:href="#about"></use>
                    </svg>
                    about
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-6 h-6">
                        <use xlink:href="#team"></use>
                    </svg>
                    Team
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-6 h-6">
                        <use xlink:href="#blog"></use>
                    </svg>
                   Blog
                </a>
            </li>

            <li>
                <a href="#" class="flex items-center gap-x-2">
                    <svg class="w-6 h-6">
                        <use xlink:href="#contact"></use>
                    </svg>
                   Contact
                </a>
            </li>
        </ul>
    </nav>

    <div class="py-8 mt-8 border-t border-t-white/20 text-violet-400">
        <a href="#" class="flex items-center gap-x-2">
            <svg class="w-6 h-6  text-violet-400">
                <use xlink:href="#arrow-left"></use>
            </svg>
            signin/up
        </a>
    </div>
</div>

  </div>
<!-- header mobile -->
    <main>
        <section class="p-3 mt-5">
         <div class="container">
            <div>
                <img src="./images/fsk.webp" alt="">
            </div>
            <div class="mt-2 text-sm md:text-base mt-5 ">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, error. Fugit earum adipisci ab, quae fuga quidem nihil esse aliquam corrupti, voluptatibus perferendis consectetur quos, asperiores reprehenderit amet eveniet! Facere!</p>
                <h1>تیتر</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur mollitia magni inventore asperiores repellat quo? Accusamus eos sit ducimus voluptas officia ullam suscipit quae delectus veniam aut cupiditate, ab quam?</p>
            </div>
        </div>
        </section>
    </main>

    <footer class="container">
        <div class="up-footer flex justify-between items-center mt-20 p-2">
            <div class="max-w-40">
                <img src="./images/logo.png" alt="">
            </div>
            <div class="social-media flex space-x-4 items-center">
                <a href="https://www.instagram.com">
                    <svg class="w-6 h-6 border-2 bg-slate-300 rounded-full p-1  ">
                        <use xlink:href="#user"></use>
                    </svg>
                  </a>
                  <a href="https://www.instagram.com">
                    <svg class="w-6 h-6 border-2 bg-slate-300 rounded-full p-1  ">
                        <use xlink:href="#user"></use>
                    </svg>
                  </a>
                  <a href="https://www.instagram.com">
                    <svg class="w-6 h-6 border-2 bg-slate-300 rounded-full p-1  ">
                        <use xlink:href="#user"></use>
                    </svg>
                  </a>
                  <a href="https://www.instagram.com">
                    <svg class="w-6 h-6 border-2 bg-slate-300 rounded-full p-1  ">
                        <use xlink:href="#user"></use>
                    </svg>
                  </a>
                  <a href="https://www.instagram.com">
                    <svg class="w-6 h-6 border-2 bg-slate-300 rounded-full p-1  ">
                        <use xlink:href="#user"></use>
                    </svg>
                  </a>
            </div>
        </div>
        <div class="w-full h-[2px] bg-gray-300 my-2"></div>
        <div class="down-footer block ap-y-3 md:flex justify-between p-2">
            <div class="text-xs md:text-base  text-gray-500">
                2023,All right reserved by boostilo
            </div>
            <div>
                <nav>
                    <ul class="flex gap-x-3 text-xs md:text-base text-gray-500">
                        <li class="text-violet-900">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">services</a>
                        </li>
                        <li>
                            <a href="#">about</a>
                        </li>
                        <li>
                            <a href="#">team</a>
                        </li>
                        <li>
                            <a href="#">blog</a>
                        </li>
                    </ul>
                </nav> 
            </div>
        </div>
    </footer>
    
<!-- overlay for menu bobile -->
<div class="overlay"></div>
</body>
</html>